/*************************************************
 *  Footer
 **************************************************/

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
  background-color: #d5f3f9;
}

