/*************************************************
 *  Footer
 **************************************************/

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
  background-color: #d5f3f9;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

.site-footer,
footer a#back_to_top i {
  color: #899596; 
}

/*************************************************
 *  Publications
 **************************************************/

.pub-icon {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.81em;
  padding-top: 6px;
}

.pub-banner {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.pub .pub-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.pub .pub-authors {
  font-style: italic;
  line-height: 30px; /* Match share bar line height. */
}

.pub .pub-row-heading {
  font-weight: bold;
}

.pub-list-item {
  margin-bottom: 40px;
}

.pub-list-item .pub-abstract {
  font-size: 1rem;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: #3170A5;
}

.pub-list-item .pub-publication {
  color: #090;
  font-size: 1rem;
}

.pub-list-item .pub-links {
  padding-top: 10px;
}

#container-publications {
  display: block;
  position: relative;
  overflow: hidden;
}
